@import "./custom.scss";

:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  redSalsa: $red-salsa;
  orangeRed: $orange-red;
  yellowOrange: $yellow-orange;
  malzeCrayola: $malze-crayola;
  pistachio: $pistachio;
  zomp: $zomp;
  queenBlue: $queen-blue;
}
